<ion-header>
  <ion-navbar>
    <ion-title>Friends</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-textarea [(ngModel)]="userData.id"></ion-textarea>
    <button ion-button (click)="qrImg()">QR Image</button><button ion-button (click)="qrTog()">QR</button><button ion-button (click)="scan()">Scan QR</button>
    <div [hidden]="qrHide"><qr-code [data]="userData.name" [size]="350" [type]=4></qr-code></div>
  <ion-list>
    <ion-item *ngFor="let friend of friendRequestList | async;" [hidden]="friend.requestState != 'sent'">
      <h2>{{friend.name}}</h2>
      <ion-buttons item-left>
        <button ion-button (click)="accept(friend.name, friend.id)">Accept</button>
        <button ion-button danger (click)="decline(friend.name, friend.id)">Decline</button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-input type="text" placeholder="Enter friend code here" [(ngModel)]="friendCode"></ion-input>
  <button ion-button (click)="enterFriend(friendCode)">Enter</button>

  <ion-list>
    <ion-item *ngFor="let friend of friendList | async">
      {{friend.name}} || {{friend.state.val}}
      <ion-buttons item-left>
        <button ion-button (click)="removeFriend(friend.id)">Remove</button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
